.width{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.bg-style{
    background: linear-gradient(90deg, rgba(38,49,59,1) 0%, rgba(30,68,102,1) 35%, rgba(19,90,153,1) 53%, rgba(15,100,176,1) 76%);
}


