.width{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.bg-style{
    background: linear-gradient(90deg, rgba(38,49,59,1) 0%, rgba(30,68,102,1) 35%, rgba(19,90,153,1) 53%, rgba(15,100,176,1) 76%);
}
/* text-2xl md:text-3xl xl:text-4xl 2xl:text-5xl */
/* 2xl:text-6xl text-3xl md:text-4xl lg:text-5xl */
/* flex md:flex-row flex-col */
/* md:block hidden */
/* space-y-6 md:space-y-0 */
/* md:w-auto w-full */

